<% include ./partials/header %>

    <div class="main">
        <h1>Welcome to the Homepage!</h1>
        <h4><a href="/polls" >View some delicious direct democracy with minimal regard for spelling</a></h4>
    </div>

<% include ./partials/footer %>